Loops

In [ ]:
for i in range(5):
    print(i)

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

In [ ]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print(f"Factorial is {factorial}")

User-Defined Functions

In [ ]:
def function_name(parameters):
    """docstring"""
    # code block
    return expression

In [ ]:
def greet():
    print("Hello, welcome to Python!")

# Calling the function
greet()

In [ ]:
def greet_user(name):
    print(f"Hello, {name}, welcome to Python!")

# Calling the function with an argument
greet_user("Alice")

In [ ]:
def add_numbers(a, b):
    return a + b

# Calling the function and storing the result
result = add_numbers(3, 4)
print(result)  # Output: 7

Exercise 1: Create a function square_number() that takes a number and returns its square.

Exercise 2: Create a function calculate_area() that takes the radius of a circle and returns the area. Use Ï€ = 3.14159.

Exercise 3: Create a function is_even() that takes a number and returns True if it's even, otherwise False.

In [ ]:
def sum_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

result = sum_list([1, 2, 3, 4, 5])
print(result)

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

In [ ]:
def check_number(num):
    if num > 0:
        return "Positive"
    elif num < 0:
        return "Negative"
    else:
        return "Zero"

# Test the function
print(check_number(5))   # Output: Positive
print(check_number(-3))  # Output: Negative
print(check_number(0))   # Output: Zero

Exercise 4: Write a Python function called fibonacci_sequence() that takes a number n as input and prints the first n numbers of the Fibonacci sequence.

The Fibonacci sequence starts with 0, 1, and each subsequent number is the sum of the two previous ones.

Exercise 5: Write a function fahrenheit_to_celsius() that takes a temperature in Fahrenheit and converts it to Celsius.

Exercise 6: Create a function find_max() that takes two numbers as arguments and returns the larger of the two.